*.swp
*.swo
*.pyc
*.*~
*.rdb
*.egg-info
pyenv
#*#
build
source/_static*
source/_templates*
dist/*
make.bat
venv
*.sublime-*
.coverage
__pycache__
.DS_Store
.idea/
*.sqlite
env
*.egg
.eggs
.tox/

tests/dumps/*.txt
tests/dumps/*.py

